* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container::before {
    content: "";
    background: url(images/netflix.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index: -1;
}

.container .navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
}

.container .navbar .left img {
    height: 100px;
}

.container .navbar .right {
    display: flex;
    align-items: center;
}

.container .navbar .right .language {
    font-size: 18px;
    padding: 7px 70px;
    background: none;
    color: white;
    cursor: pointer;
    margin-right: 15px;
}

.container .navbar .right .language option {
    background-color: grey;
}

.container .navbar .right .sign-in-link {
    font-size: 18px;
    font-weight: 400;
    padding: 7px 17px;
    background: #e50914;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
}

.container .navbar .right .sign-in-link:hover {
    background: #f40612;
}

.container .title {
    padding: 70px 45px;
    text-align: center;
}

.container .title .content {
    max-width: 950px;
    margin: auto;
    padding: 75px 0;
}

.container .title .content h1 {
    max-width: 650px;
    margin: auto;
    font-size: 3.1rem;
}

.container .title .content h2 {
    max-width: 650px;
    margin: auto;
    font-size: 1.6rem;
}

.container .title .content form h3 {
    font-size: 1rem;
    margin: 18px 0;
}

.container .title .content form .email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container .title .content form .email input {
    height: 60px;
    width: 450px;
    padding: 20px;
    font-size: 20px;
    outline: none;
}

.container .title .content form .start-btn {
    height: 60px;
    width: 180px;
    font-size: 20px;
    background: #e50914;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.container .title .content form .start-btn:hover {
    background-color: #f40612;
}
